<div class="banner">
      <h1><%= @cocktail.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Description</h2>
      <% @cocktail.doses.each do |dose| %>
        <p><strong>Ingredient:</strong> <%= dose.ingredient.name %> - <strong>Amount:</strong> <%= dose.description %></p>
      <% end %>
      <%= link_to "Go back to all cocktails", cocktails_path, class: "btn btn-primary" %>
    </div>
    <div class="col-6">
      <h2>Add ingredients to your cocktail</h2>
      <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>
